@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-7xl;
}
h2 {
  @apply text-6xl;
}
h3 {
  @apply text-5xl;
}
a {
  @apply text-blue-600 underline;
}

canvas.hide {
  visibility: hidden;
}

@layer components {
  .primary-btn {
    @apply flex sm:inline-flex justify-center items-center bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus-visible:ring ring-blue-300 text-white font-semibold text-center rounded-md outline-none transition duration-100 px-5 py-2;
  }
  .primary-btn:disabled {
    @apply cursor-not-allowed focus:outline-none bg-blue-300;
  }
}