<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
        <title>Dalli-Klick-TW</title>
        <script src="/static/OCanvas.js"></script>
        <script src="/static/main.js"></script>
        <script>
            window.dalli_cfg = {
                img: "{{url_for('custom_static', filename=img)}}"
            };
        </script>
        <style>
            body {
                background-image: url("/static/bg.jpg");
                background-repeat: repeat;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <h1 class="font-bold leading-tight text-gray-900 font-9xl">Dalli-Klick</h1>
            <canvas id="canvas"></canvas>
            <div id="toolbar">
                <form method="get" action="/">
                    <input type="hidden" name="image" value="{{pageno}}"/>
                    <input type="submit" id="btn-next" value="N&auml;chstes Bild"/>
                </form>
                <button id="btn-hint">Freilegen</button>
                <button id="btn-sol">L&ouml;sen</button>
            </div>
        </div>
    </body>
</html>