<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alice&display=swap" rel="stylesheet">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <title>Dalli-Klick-TW</title>
    <script src="/static/js/oCanvas.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        window.dalli_cfg = {
            img: "{{url_for('custom_static', filename=img)}}"
        };
    </script>
</head>

<body class="font-alice" style="background-image: url(/static/img/bg.png)">
    <div id="container" class="grid place-items-center">
        <h1 class="font-bold font-9xl text-[color:white] drop-shadow-md">Dalli-Klick</h1>
        <canvas id="canvas" class="max-w-[100%] max-h-[100%] border-8 border-black shadow-lg shadow-black"></canvas>
        <div class="py-4">
            <div class="flex gap-4 p-4 font-sans">
                <form method="get" action="/">
                    <input type="hidden" name="image" value="{{pageno}}" />
                    <button type="submit" id="btn-next" class="primary-btn h-12">N&auml;chstes Bild</button>
                </form>
                <button id="btn-hint" class="primary-btn h-12">Freilegen</button>
                <button id="btn-pause" class="primary-btn h-12 hidden">Pause</button>
                <button id="btn-sol" class="primary-btn h-12">Aufl&ouml;sen</button>
            </div>
        </div>
    </div>
</body>

</html>